/* !------------------------------------------------------------
* 样式:twui.scss
* 版本:v1.0.0
* 1.引入普通的scss文件,请按标准的sass语言的@import语法
* 2.引入CSS模块或Vue组件,无需加文件夹前缀，在sass-loader中已经加了
*   全局的includePaths路径，会自动为@import的组件添加所在的文件夹前缀
* 3.css模块与vue组件不能重名
* ------------------------------------------------------------ */

// 引入变量、mixins、functions
// ------------------------------------------------------------
@import "base/functions.scss";
@import "base/variables.scss";
@import "mixins/responsive.scss";
@import "mixins/utils.scss";

// 通用样式
// ------------------------------------------------------------
@import "reset.scss";

// 样式模块
// ------------------------------------------------------------
@import "nav/nav.scss";
@import "controls/controls.scss";
@import "triangle/triangle.scss";
@import "arrow/arrow.scss";
// @import "modules/fonts/fonts.scss";
@import "button/button.scss";
@import "widget/widget.scss";

// vue组件
// ------------------------------------------------------------
@import "markdown/markdown.scss";

// 样式模块
// ------------------------------------------------------------
@import "grid/grid.scss";
@import "multicol/multicol.scss";
@import "title/title.scss";
@import "header/header.scss";
@import "body/body.scss";
@import "sidebar/sidebar.scss";
@import "form/form.scss";

// 项目
// ------------------------------------------------------------
@import "app.scss";

// 功能样式
// ------------------------------------------------------------
@import "text/text.scss";
@import "spacing/spacing.scss";
@import "border/border.scss";
