@charset "UTF-8";
/* !------------------------------------------------------------
* 样式:twui.scss
* 版本:v1.0.0
* 1.引入普通的scss文件,请按标准的sass语言的@import语法
* 2.引入CSS模块或Vue组件,无需加文件夹前缀，在sass-loader中已经加了
*   全局的includePaths路径，会自动为@import的组件添加所在的文件夹前缀
* 3.css模块与vue组件不能重名
* ------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 * 描述：函数定义
 * --------------------------------------------------------------------- */
/** ---------------------------------------------------------------------
 ** 描述：sass变量
 ** --------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
 * 描述：函数定义
 * --------------------------------------------------------------------- */
/* ------------------------------ 全局配置 ------------------------------ */
/* 应用类型{String} */
/* ------------------------------ 颜色体系 ------------------------------ */
/* 主题色{Color+} */
/* 背景色{Color+} */
/* 标识色{Color+} */
/* 文本色{Color+} */
/* 边框色{Color+} */
/* ------------------------------ 字体体系 ------------------------------ */
/* 字体{NoChange} */
/* 字体尺寸{FontSize+} */
/* ------------------------------ 间距体系 ------------------------------ */
/* 行高{NoChange} */
/* 间距{Spacing+} */
/* ------------------------------ 尺寸体系 ------------------------------ */
/* 控件高度 */
/* 控件宽度 */
/* ------------------------------ 响应式体系(pc优先) ------------------------------ */
/* 响应式断点{NoChange} */
/* 栅格{String} */
/* ------------------------------ 其它 ------------------------------ */
/* 圆角{String} */
/* 过渡时间{String} */
/* ---------------------------- 响应式mixin -------------------------------- */
/* ---------------------------- 工具类mixin -------------------------------- */
/* 盒模型 */
.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

@media (max-width: 1199px) {
  .d-none-lpad {
    display: none !important; }

  .d-inline-lpad {
    display: inline !important; }

  .d-inline-block-lpad {
    display: inline-block !important; }

  .d-block-lpad {
    display: block !important; }

  .d-table-lpad {
    display: table !important; }

  .d-table-row-lpad {
    display: table-row !important; }

  .d-table-cell-lpad {
    display: table-cell !important; }

  .d-flex-lpad {
    display: flex !important; }

  .d-inline-flex-lpad {
    display: inline-flex !important; } }
@media (max-width: 991px) {
  .d-none-pad {
    display: none !important; }

  .d-inline-pad {
    display: inline !important; }

  .d-inline-block-pad {
    display: inline-block !important; }

  .d-block-pad {
    display: block !important; }

  .d-table-pad {
    display: table !important; }

  .d-table-row-pad {
    display: table-row !important; }

  .d-table-cell-pad {
    display: table-cell !important; }

  .d-flex-pad {
    display: flex !important; }

  .d-inline-flex-pad {
    display: inline-flex !important; } }
@media (max-width: 767px) {
  .d-none-lphone {
    display: none !important; }

  .d-inline-lphone {
    display: inline !important; }

  .d-inline-block-lphone {
    display: inline-block !important; }

  .d-block-lphone {
    display: block !important; }

  .d-table-lphone {
    display: table !important; }

  .d-table-row-lphone {
    display: table-row !important; }

  .d-table-cell-lphone {
    display: table-cell !important; }

  .d-flex-lphone {
    display: flex !important; }

  .d-inline-flex-lphone {
    display: inline-flex !important; } }
@media (max-width: 553px) {
  .d-none-phone {
    display: none !important; }

  .d-inline-phone {
    display: inline !important; }

  .d-inline-block-phone {
    display: inline-block !important; }

  .d-block-phone {
    display: block !important; }

  .d-table-phone {
    display: table !important; }

  .d-table-row-phone {
    display: table-row !important; }

  .d-table-cell-phone {
    display: table-cell !important; }

  .d-flex-phone {
    display: flex !important; }

  .d-inline-flex-phone {
    display: inline-flex !important; } }

/*# sourceMappingURL=test.css.map */
