/* 按钮 */
$btn-min-width: 80px !default; // 按钮最小宽度
$btn-height: 30px !default; // 按钮默认高度
$btn-px: $spacing-small !default; // 按钮水平内边距
$btn-font-size: $font-size-default !default; // 按钮字体大小
$btn-border-radius: 3px !default; // 按钮边框
$btn-main-bg: $color-main !default; // 主按钮背景
$btn-main-bg-hover: $color-main-hover !default; // 主按钮背景滑过色
$btn-main-color: $color-text-inverse !default; // 主按钮文本色
$btn-auxiliary-bg: $color-auxiliary !default; // 辅助按钮背景
$btn-auxiliary-bg-hover: $color-auxiliary-hover !default; // 辅助按钮背景色
$btn-auxiliary-color: $color-text-inverse !default; // 辅助按钮文本色
$btn-weaking-bg: $color-weaking !default; // 弱化按钮背景
$btn-weaking-border-color: $color-border-main !default; // 弱化按钮背景色
$btn-weaking-color: $color-text-main !default; // 弱化按钮文本色

// 按钮-默认
.tw-btn {
  display: inline-block;
  min-width: $btn-min-width;
  height: $btn-height;
  line-height: $btn-height - 2px;
  padding: 0 $btn-px;
  font-size: $btn-font-size;
  text-align: center;
  border: 1px solid transparent;
  border-radius: $btn-border-radius;
}

.tw-btn + .tw-btn {
  margin-left: $spacing-small - 4px;
}

// 主按钮
.tw-btn.xmain {
  color: $btn-main-color;
  background: $btn-main-bg;
  border-color: $btn-main-bg;

  &:hover {
    background: $btn-main-bg-hover;
    border-color: $btn-main-bg-hover;
  }
}

// 铺按钮
.tw-btn.xauxiliary {
  color: $btn-auxiliary-color;
  background: $btn-auxiliary-bg;
  border-color: $btn-auxiliary-bg;

  &:hover {
    background: $btn-auxiliary-bg-hover;
    border-color: $btn-auxiliary-bg-hover;
  }
}

// 弱化铺按钮
.tw-btn.xweaking {
  color: $btn-weaking-color;
  background: $btn-weaking-bg;
  border-color: $btn-weaking-border-color;

  &:hover {
    color: $btn-main-bg-hover;
    border-color: $btn-main-bg-hover;
  }
}

// 按钮-小
.tw-btn.xsmall {
  height: $btn-height - 6px;
  line-height: $btn-height - 8px;
}

// 按钮-大
.tw-btn.xlarge {
  height: $btn-height + 6px;
  line-height: $btn-height + 4px;
}

// 添加按钮
.tw-addbtn {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px dashed $color-border-main;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    margin-top: -1px;
    margin-left: -30%;
    border-top: 1px dashed $color-border-main;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60%;
    margin-top: -30%;
    margin-left: -1px;
    border-left: 1px dashed $color-border-main;
  }

  &:hover {
    border-color: $color-main;

    &:before {
      border-top-color: $color-main;
    }

    &:after {
      border-left-color: $color-main;
    }
  }
}
