// 等分栅c
// stylelint-disable max-nesting-depth
// stylelint-disable selector-nested-pattern

// 生成栅格
@mixin make-grid ($breakpoints: $media-breakpoints, $columns: $grid-columns) {
  @each $key in map-keys($breakpoints) {
    @include media-down($key) {
      @for $i from 1 through $columns {
        .tw-grid.x#{$key}#{$i} {
          > .tw-grid-col {
            width: percentage(1 / $i);
          }
        }
      }
    }
  }
}

// 栅格系统
.tw-grid {
  @include clearfix;
  margin: ceil($grid-gutter-width / -2);

  &-col {
    float: left;
    width: 100%;
    width: 100%;
    min-height: 1px;
    padding: $grid-gutter-width / 2;
  }
}

// 生成响应式栅格
@include make-grid();

/* 全局容器 */
.tw-container {
  @include make-container;
}
