/* 导航 */
$nav-item-hover-bg: $color-main-hover !default;
$nav-item-hover-color: $color-text-inverse !default;
$nav-item-active-bg: $color-main-active !default;
$nav-item-active-color: $color-text-inverse !default;
$nav-item-px: $spacing-small !default;
$nav-item-font-size: inherit !default;
$nav-item-ico-mr: $spacing-step - 1 !default;

// 导航-列表
.tw-nav > li {
  position: relative;
}

// 水平导航
.tw-nav.xhorizontal {
  @include clearfix;
}

.tw-nav.xhorizontal > li {
  float: left;
}

.tw-nav > li > a {
  position: relative;
  display: block;
  padding: 0 $nav-item-px;
  font-size: $nav-item-font-size;
  @include cutoff;
}

.tw-nav > li > a > .tw-ico,
.tw-nav > li > a > .tw-font {
  line-height: 1;
  margin-right: $nav-item-ico-mr;
}

/* 导航-作为collapse控件的开关时 */
.tw-nav > li > a > .tw-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right:10px;
  margin: auto;
  transition: all $time linear;
}

.tw-nav > li > a.xopen > .tw-arrow {
  transform: rotate(45deg) translateY(-2px);
}
