// 弹出过渡
.xpop-enter,
.xpop-leave-to {
  opacity: 0;
  transform: scaleY(.1);
}

.xpop-enter-to,
.xpop-leave {
  opacity: 1;
  transform: scaleY(1);
}

.xpop-enter-active,
.xpop-leave-active {
  transition: all $time linear;
}
