/* 内容块 */
$block-ml: $margin-medium !default;
$block-title-color: $color-text-auxiliary !default;
$block-border-color:$color-border-main !default;

// 内容块列表
.tw-block {
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
  vertical-align: top;
}

.tw-block + .tw-block {
  margin-left: $block-ml - 4px;
}

// 内容块-主体
.tw-block-body {
  position: relative;
}

// 内容块-标题
.tw-block-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 30px;
  color: $block-title-color;
  text-align: center;
  border-top: none;
  @include cutoff;
}
