/* 表单控件 */
$control-width: $ctr-width-default !default; // 默认控件宽度
$control-width-small: $ctr-width-small !default; // 小控件宽度
$control-width-large: $ctr-width-large !default; // 大控件宽度
$control-height: $ctr-height-default !default; // 默认控件高度
$control-height-small: $ctr-height-small !default; // 小控件高度
$control-height-large: $ctr-height-large !default; // 大控件高度
$control-padding: $spacing-step !default; // 控件内边距
$control-font-size: $font-size-default !default; // 控件字体尺寸
$control-font-size-small: $font-size-small !default; // 小控件字体尺寸
$control-font-size-large: $font-size-large !default; // 大控件字体尺寸
$control-color: $color-text-auxiliary !default; // 控件文本色
$control-border-color: $color-border-main !default; // 控件边框颜色
$control-focus-border-color: $color-main !default; // 控件选中边框色
$control-radius: 3px !default; // 控件边框圆角
$control-label-space: $spacing-step !default; // 控件标签右边距
$optbox-marker-color: $color-border-main !default; // 选项框标记色
$optbox-marker-checked-color: $color-main !default; // 选项框选中色
$optbox-checkbox-checked-color: $color-text-inverse !default; // 多选框对勾色

// 输入框
.tw-input {
  width: $control-width;
  height: $control-height;
  line-height: $control-height - 2px;
  padding: 0 $control-padding;
  font-size: $control-font-size;
  color: $control-color;
  border: 1px solid $control-border-color;
  @if($control-radius != 0) {
    border-radius: $control-radius;
  }
}

.tw-input:focus {
  border-color: $control-focus-border-color;
}

.tw-input.xsmall {
  width: $control-width-small;
  height: $control-height-small;
  line-height: $control-height-small - 2px;
  font-size: $control-font-size-small;
}

.tw-input.xlarge {
  width: $control-width-large;
  height: $control-height-large;
  line-height: $control-height-large - 2px;
  font-size: $control-font-size-large;
}

// 控件标签
.tw-inputlabel {
  display: inline-block;
  line-height: $control-height;
  padding-right: $control-label-space;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
}

.tw-inputlabel.xsmall {
  line-height: $control-height-small;
}

.tw-inputlabel.tw-input.xlarge {
  line-height: $control-height-large;
}

// 选项框-容器
.tw-optbox {
  position: relative;
  display: inline-block;
  line-height: $control-height;
  overflow: hidden;
  cursor: pointer;
}

// 选项框-单选或多选框本身
.tw-optbox > input {
  position: absolute;
  left: -9999px;
}

.tw-optbox > span {
  display: inline-block;
  padding-left: 20px;
}

.tw-optbox > span:before,
.tw-optbox > span:after {
  content: "";
  position: absolute;
  top: 50%;
}

.tw-optbox > span:before {
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  border: 1px solid $optbox-marker-color;
}

.tw-optbox > span:after {
  display: none;
}

// 选择状态
// stylelint-disable no-descending-specificity
.tw-optbox:hover > input:not(:disabled) + span:before,
.tw-optbox > input:checked + span:before {
  border-color: $optbox-marker-checked-color;
}

.tw-optbox > input:checked + span:after {
  display: inline-block;
}

// 禁用状态
.tw-optbox.xdisabled {
  cursor: not-allowed;
}

.tw-optbox > input:disabled + span {
  @include disable();
}

// 单选框
.tw-optbox > input[type="radio"] + span:before {
  border-radius: 50%;
}

.tw-optbox > input[type="radio"] + span:after {
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: $optbox-marker-checked-color;
  border-radius: 50%;
}

// 多选框
.tw-optbox > input[type="checkbox"] + span:after {
  left: 5px;
  width: 6px;
  height: 9px;
  margin-top: -6px;
  border-right: 2px solid $optbox-checkbox-checked-color;
  border-bottom: 2px solid $optbox-checkbox-checked-color;
  transform: rotate(45deg);
}

.tw-optbox > input[type="checkbox"]:checked + span:before {
  background: $optbox-marker-checked-color;
}

// 解决移动端click事件触发两次的问题
.tw-optbox > * {
  pointer-events: none;
}

.tw-optbox + .tw-optbox {
  margin-left: $spacing-small;
}
