/* 按钮 */
$btn-min-width: 80px !default;
$btn-default-height: 30px !default;
$btn-px: $padding-small !default;
$btn-font-size: $font-size-default !default;
$btn-border-radius: 3px !default;
$btn-main-bg: $color-main !default;
$btn-main-bg-hover: $color-main-hover !default;
$btn-main-color: $color-text-inverse !default;
$btn-auxiliary-bg: $color-auxiliary !default;
$btn-auxiliary-bg-hover: $color-auxiliary-hover !default;
$btn-auxiliary-color: $color-text-inverse !default;
$btn-weaking-bg: $color-weaking !default;
$btn-weaking-border-color: $color-border-main !default;
$btn-weaking-color: $color-text-main !default;
$btn-large-height: $btn-default-height + 6px !default;
$btn-huge-height: $btn-default-height + 10px !default;

// 按钮-默认
.tw-btn {
  display: inline-block;
  min-width: $btn-min-width;
  height: $btn-default-height;
  line-height: $btn-default-height - 2px;
  padding: 0 $btn-px;
  font-size: $btn-font-size;
  text-align: center;
  border: 1px solid transparent;
  border-radius: $btn-border-radius;
}

.tw-btn + .tw-btn {
  margin-left: $margin-small - 4px;
}

// 主按钮
.tw-btn.xmain {
  color: $btn-main-color;
  background: $btn-main-bg;
  border-color: $btn-main-bg;

  &:hover {
    background: $btn-main-bg-hover;
    border-color: $btn-main-bg-hover;
  }
}

// 铺按钮
.tw-btn.xauxiliary {
  color: $btn-auxiliary-color;
  background: $btn-auxiliary-bg;
  border-color: $btn-auxiliary-bg;

  &:hover {
    background: $btn-auxiliary-bg-hover;
    border-color: $btn-auxiliary-bg-hover;
  }
}

// 弱化铺按钮
.tw-btn.xweaking {
  color: $btn-weaking-color;
  background: $btn-weaking-bg;
  border-color: $btn-weaking-border-color;

  &:hover {
    color: $btn-main-bg-hover;
    border-color: $btn-main-bg-hover;
  }
}

// 按钮-大
.tw-btn.xlarge {
  height: $btn-large-height;
  line-height: $btn-large-height - 2px;
}

// 按钮-超大
.tw-btn.xhuge {
  height: $btn-huge-height;
  line-height: $btn-huge-height - 2px;
}
