/* 表单控件 */
$control-width: 160px !default;
$control-height: 30px !default;
$control-padding: $padding-step !default;
$control-font-size: $font-size-default !default;
$control-color: $color-text-auxiliary !default;
$control-radius: 3px !default;
$control-border-color: $color-border-main !default;
$control-focus-border-color: $color-main !default;
$control-label-space: $padding-step !default;
$optbox-marker-color: $color-border-main !default;
$optbox-marker-checked-color: $color-main !default;
$optbox-checkbox-checked-color: $color-text-inverse !default;

// 输入框
.tw-input {
  width: $control-width;
  height: $control-height;
  line-height: $control-height - 2px;
  padding: 0 $control-padding;
  font-size: $control-font-size;
  color: $control-color;
  border: 1px solid $control-border-color;
  @if($control-radius != 0) {
    border-radius: $control-radius;
  }
}

.tw-input:focus {
  border-color: $control-focus-border-color;
}

// 控件标签
.tw-ctrlabel {
  display: inline-block;
  line-height: $control-height;
  padding-right: $control-label-space;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
}

// 选项框-容器
.tw-optbox {
  position: relative;
  display: inline-block;
  line-height: $control-height;
  overflow: hidden;
  cursor: pointer;
}

// 选项框-单选或多选框本身
.tw-optbox > input {
  position: absolute;
  left: -9999px;
}

.tw-optbox > span {
  display: inline-block;
  padding-left: 20px;
}

.tw-optbox > span:before,
.tw-optbox > span:after {
  content: "";
  position: absolute;
  top: 50%;
}

.tw-optbox > span:before {
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  border: 1px solid $optbox-marker-color;
}

.tw-optbox > span:after {
  display: none;
}

// 选择状态
// stylelint-disable no-descending-specificity
.tw-optbox:hover > input:not(:disabled) + span:before,
.tw-optbox > input:checked + span:before {
  border-color: $optbox-marker-checked-color;
}

.tw-optbox > input:checked + span:after {
  display: inline-block;
}

// 禁用状态
.tw-optbox.xdisabled {
  cursor: not-allowed;
}

.tw-optbox > input:disabled + span {
  @include disable();
}

// 单选框
.tw-optbox > input[type="radio"] + span:before {
  border-radius: 50%;
}

.tw-optbox > input[type="radio"] + span:after {
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: $optbox-marker-checked-color;
  border-radius: 50%;
}

// 多选框
.tw-optbox > input[type="checkbox"] + span:after {
  left: 5px;
  width: 6px;
  height: 9px;
  margin-top: -6px;
  border-right: 2px solid $optbox-checkbox-checked-color;
  border-bottom: 2px solid $optbox-checkbox-checked-color;
  transform: rotate(45deg);
}

.tw-optbox > input[type="checkbox"]:checked + span:before {
  background: $optbox-marker-checked-color;
}

// 解决移动端click事件触发两次的问题
.tw-optbox > * {
  pointer-events: none;
}

.tw-optbox + .tw-optbox {
  margin-left: $margin-small;
}
