/* 下拉列表 */
.tw-poppane {
  position: relative;
}

.tw-poppane-link {
  position: relative;
  display: block;
  padding-right: 15px;
  cursor: pointer;
}

.tw-poppane-link > .tw-triangle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2.5px;
  transition: all $time linear;
  transform-origin: 50% 30%;
}

.tw-poppane-body {
  position: absolute;
  display: none;
  min-width: 100%;
  height: 0;
  transition: height $time linear;
}

.tw-poppane.xright > .tw-poppane-body {
  right: 0;
}

.tw-poppane.xleft > .tw-poppane-body {
  left: 0;
}

.tw-poppane-body.xhorizontal {
  top: 0;
  left: 100%;
  min-width: 0;
  height: auto;
}

.tw-poppane.xactive > .tw-poppane-body {
  display: block;
}

.tw-poppane.xactive > .tw-poppane-link > .tw-triangle,
.tw-poppane.xhover:hover > .tw-poppane-link > .tw-triangle {
  transform: rotate(180deg);
}
