/* 标题 */
$title-marker-left: -$margin-medium !default;
$title-marker-bg: $color-main !default;
$title-marker-width: 3px !default;
$title-line-height: $line-height-default !default;
$title-pb: $padding-small !default;
$title-mb: $margin-small !default;
$title-font-size: $font-size-medium !default;
$title-color: $color-text-main;
$title-border-color: $color-border-main !default;
$title-sub-marker-size: 4px !default;

// 标题-容器
.tw-title {
  @include clearfix;
  position: relative;
  line-height: $title-line-height;
  padding-bottom: $title-pb - 4;
  margin-bottom: $title-mb;
  font-size: $title-font-size;
  font-weight: bold;
  color: $title-color;
  border-bottom: 1px dashed $title-border-color;
}

// 标题-左侧坚线标记
.tw-title:before {
  content: "";
  position: absolute;
  left: $title-marker-left;
  width: 3px;
  height: $title-font-size * $line-height-default;
  background: $title-marker-bg;
}

// 标题-左侧内容
.tw-title-left {
  float: left;
  font-weight: bold;
}

// 标题-标注
.tw-title-note {
  margin-left: $margin-step;
  font-size: 85%;
  color: lighten($title-color, 20%);
}

// 标题-右侧内容
.tw-title-right {
  float: right;
}

// 标题-副标题
.tw-title.xsub {
  padding-bottom: 0;
  margin-bottom: $title-mb - $margin-step;
  font-size: $title-font-size - 2px;
  border-bottom: none;
}

.tw-title.xsub:before {
  top: $title-font-size * $line-height-default / 2;
  left: $title-marker-left / 2;
  width: $title-sub-marker-size;
  height: $title-sub-marker-size;
}
