/* 箭头 */
$arrow-color:#999 !default; // 箭头颜色

.tw-arrow {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 1px solid $arrow-color;
  border-bottom: 1px solid $arrow-color;
}

.tw-arrow.xright {
  transform: rotate(-45deg);
}
