/** ---------------------------------------------------------------------
 ** 描述：scss模板
 ** --------------------------------------------------------------------- */

/* ------------------------------ 全局配置 ------------------------------ */
/* 应用类型{String} */
$app-type: web; // [前台样式:web, 后台样式:admin, 移动端样式:mobile]

/* ------------------------------ 颜色体系 ------------------------------ */
/* 主题色{Color+} */
$color-main: #26a8ff; // 主色
$color-main-hover: #12a0ff; // 主色:滑过
$color-main-active: #0097fc; // 主色:激活
$color-auxiliary: #6ec940; // 辅色
$color-auxiliary-hover: #ebb000; // 辅色:滑过
$color-auxiliary-active: #d6a000; // 辅色:激活
$color-weaking: #fff; // 弱化色

/* 背景色{Color+} */
$color-bg-body:#f5f5f5; // 页面背景
$color-bg-content:#fff; // 内容背景
$color-bg-footer: #afb9c9; // 页脚背景
$color-bg-disabled: #eee; // 禁用背景

/* 标识色{Color+} */
$color-success:#78cf70; // 成功
$color-warning:#ffb555; // 警告
$color-error:#ff6c60; // 错误

/* 文本色{Color+} */
$color-text-main:#333; // 主文本
$color-text-auxiliary:#666; // 辅助文本
$color-text-weaking:#999; // 弱化文本
$color-text-disabled:#ccc; // 禁用文本
$color-text-highlight:#479025; // 高亮文本
$color-text-error:#f00; // 错误文本
$color-text-inverse: #fff; // 反转文本
$color-text-link:#26a8ff; // 链接色
$color-text-link-hover: #12a0ff; // 链接滑过色
$color-text-placeholder: #999; // 占位文本

/* 边框色{Color+} */
$color-border-main:#ccc; // 主边框
$color-border-auxiliary:#ddd; // 辅边框
$color-border-disabled:#eee; // 禁用边框
$color-border-weaking:#eee; // 弱化边框

/* ------------------------------ 字体体系 ------------------------------ */
/* 字体{NoChange} */
$font-family-default: "Helvetica Neue", "Microsoft YaHei", "\5b8b\4f53", Arial, Helvetica, sans-serif; // 字体

/* 字体尺寸{FontSize+} */
$font-size-small: 12px; // 小字号
$font-size-default: 14px; // 默认字号
$font-size-medium: 16px; // 中字号
$font-size-large: 20px; // 大字号

/* ------------------------------ 间距体系 ------------------------------ */
/* 行高{NoChange} */
$line-height-default: 1.5; // 行高

/* 间距{Spacing+} */
$spacing-step: 5px; // 间距步长
$spacing-tiny: 10px; // 超小间距
$spacing-small: 15px; // 小间距
$spacing-medium: 20px; // 中间距
$spacing-large: 30px; // 大间距
$spacing-huge: 40px; // 超大间距

/* ------------------------------ 尺寸体系 ------------------------------ */
/* 控件高度{String+} */
$ctr-height-step: 6px; // 高度步长
$ctr-height-default: 30px; // 默认高度
$ctr-height-small: 24px; // 小高度
$ctr-height-medium: 36px; // 中高度
$ctr-height-large: 42px; // 大高度

/* 控件宽度{String+} */
$ctr-width-step: 40px; // 宽度步长
$ctr-width-default: 100%; // 默认高度
$ctr-width-tiny: 80px; // 超小宽度
$ctr-width-small: 120px; // 小宽度
$ctr-width-medium: 160px; // 中宽度
$ctr-width-large: 200px; // 大宽度
$ctr-width-large: 240px; // 超大宽度

/* ------------------------------ 响应式体系 ------------------------------ */
/* 响应式断点{NoChange} */
$media-breakpoints: ( pc: 1200px, lpad: 992px, pad: 768px, lphone: 576px, phone: 0); // 媒体查询断点
$container-widths: ( pc:1200px,  lpad:960px,  pad:auto,  lphone:auto,  phone:auto); // 主容器宽度

/* 栅格{String} */
$grid-columns: 12; // 栅格数量
$grid-gutter-width: 20px; // 栅格宽度

/* ------------------------------ 过渡效果 ------------------------------ */
/* 过渡时间{String} */
$time: .12s; // 过渡时间

/* ------------------------------ 组件变量 ------------------------------ */
/* markdown */
$markdown-px: $spacing-medium; // 容器水平内边距
$markdown-color: $color-text-auxiliary; // 默认文字颜色
$markdown-title-color: $color-text-auxiliary; // 标题文字颜色
$markdown-title1-font-size: $font-size-large;  // 一级标题字号
$markdown-title2-font-size: $font-size-medium; // 二级标题字号
$markdown-title3-font-size: $font-size-default; // 三级标题字号
$markdown-title-pb: $spacing-small; // 标题底部内边距
$markdonw-title-mt: $spacing-large; // 标题顶部外边距
$markdown-title-mb: $spacing-small; // 标题底部外边距
$markdown-title-border-color: $color-border-main; //标题边框颜色
$markdown-title-mark-color: $color-main; // 标题标记颜色
$markdown-list-ml: $spacing-medium; // 列表左外边距
$markdown-table-header-bg: #f5f5f5; // 表格头部背景
$markdown-table-pd: $spacing-tiny; // 表格单元格内边距
$markdown-table-border-color: $color-border-main; // 表格边框色

/* 箭头 */
$arrow-color:#999; // 箭头颜色

/* 主体 */
$content-bg: #fff; // 主体背景

/* 按钮 */
$btn-min-width: 80px; // 按钮最小宽度
$btn-height: 30px; // 按钮默认高度
$btn-px: $spacing-small; // 按钮水平内边距
$btn-font-size: $font-size-default; // 按钮字体大小
$btn-border-radius: 3px; // 按钮边框
$btn-main-bg: $color-main; // 主按钮背景
$btn-main-bg-hover: $color-main-hover; // 主按钮背景滑过色
$btn-main-color: $color-text-inverse; // 主按钮文本色
$btn-auxiliary-bg: $color-auxiliary; // 辅助按钮背景
$btn-auxiliary-bg-hover: $color-auxiliary-hover; // 辅助按钮背景色
$btn-auxiliary-color: $color-text-inverse; // 辅助按钮文本色
$btn-weaking-bg: $color-weaking; // 弱化按钮背景
$btn-weaking-border-color: $color-border-main; // 弱化按钮背景色
$btn-weaking-color: $color-text-main; // 弱化按钮文本色

/* 表单控件 */
$control-width: $ctr-width-default; // 默认控件宽度
$control-width-small: $ctr-width-small; // 小控件宽度
$control-width-large: $ctr-width-large; // 大控件宽度
$control-height: $ctr-height-default; // 默认控件高度
$control-height-small: $ctr-height-small; // 小控件高度
$control-height-large: $ctr-height-large; // 大控件高度
$control-padding: $spacing-step; // 控件内边距
$control-font-size: $font-size-default; // 控件字体尺寸
$control-font-size-small: $font-size-small; // 小控件字体尺寸
$control-font-size-large: $font-size-large; // 大控件字体尺寸
$control-color: $color-text-auxiliary; // 控件文本色
$control-border-color: $color-border-main; // 控件边框颜色
$control-focus-border-color: $color-main; // 控件选中边框色
$control-radius: 3px; // 控件边框圆角
$control-label-space: $spacing-step; // 控件标签右边距
$optbox-marker-color: $color-border-main; // 选项框标记色
$optbox-marker-checked-color: $color-main; // 选项框选中色
$optbox-checkbox-checked-color: $color-text-inverse; // 多选框对勾色

/* 页脚 */
$footer-height: 50px;
$footer-line-height: $footer-height;
$footer-font-size: $font-size-small;
$footer-color:$color-text-inverse;
$footer-bg: $color-bg-footer;

/* 表单 */
$form-mb: $spacing-medium; // 表单下边距
$form-size: $font-size-default; // 表单字号
$form-item-pb: $spacing-medium; // 表单项下边距
$form-label-pl: $spacing-medium; // 表单项标签左边距

/* 头部 */
$header-height: 60px;
$header-line-height: $header-height;
$header-font-size: $font-size-default;
$header-bg: $color-main;
$header-color: $color-text-inverse;
$header-mb: $spacing-medium;
$header-title-font-size: $font-size-medium;
$header-title-pl: $spacing-small;
$header-left-mr: $spacing-medium;
$header-hover-color: $color-main-hover;
$header-active-color: $color-main-active;
$header-navlink-hover-bg: $color-main-hover;
$header-navlink-hover-color: $color-text-inverse;
$header-navlink-active-bg: $color-main-active;
$header-navlink-active-color: $color-text-inverse;
$header-navlink-px: $spacing-small;

/* 列表 */
$select-height: $ctr-height-default; // 默认选择框高度
$select-height-small: $ctr-height-small; // 小选择框高度
$select-height-large: $ctr-height-large; // 大选择框高度
$select-max-height: 300px; // 选项框最大高度
$select-padding-right: $spacing-tiny; // 选择框右内边距
$select-triangle-color: $color-border-main; // 选择框三角形颜色
$select-list-border-color: $color-border-main; // 选项列表边框色
$select-list-item-line-height: $ctr-height-default; // 选项列表项行高
$select-list-item-px: $spacing-tiny; // 选项水平内边距
$select-list-item-hover-bg: $color-main-hover; // 选项滑过背景
$select-list-item-hover-color: $color-text-inverse; // 选项滑过字体颜色
$select-list-item-selected-bg: $color-main-hover; // 选项选中背景
$select-list-item-selected-color: $color-text-inverse; // 选项选中背景
$select-list-item-selected-ico-size: $font-size-medium; // 选中图标大小
$select-list-item-selected-ico-color: $color-auxiliary; // 选中图标颜色
$select-group-name-height: $ctr-height-small; // 选项组名高度
$select-group-name-color: $color-text-weaking; // 选项组名颜色

/* 多栏布局 */
$multicol-content-padding:$spacing-medium;

/* 导航 */
$nav-item-hover-bg: $color-main-hover;
$nav-item-hover-color: $color-text-inverse;
$nav-item-active-bg: $color-main-active;
$nav-item-active-color: $color-text-inverse;
$nav-item-px: $spacing-small;
$nav-item-font-size: inherit;
$nav-item-ico-mr: $spacing-step - 1;

/* 侧边栏 */
$sidebar-width:200px;
$sidebar-bg:#fff;
$sidebar-padding: $spacing-medium;
$sidebar-lineheight:50px;
$sidebar-collapse-lineheight: 40px;
$sidebar-collapse-bg: #fff;
$sidebar-hover-color: $color-main-hover;
$sidebar-active-bg: $color-main-active;
$sidebar-reversal-color:#fff;
$sidebar-link-divider:1px dashed $color-border-main;
$sidebar-icon-size:20px;
$sidebar-icon-font-color:$color-auxiliary;

/* 标题 */
$title-marker-left: -$spacing-medium;
$title-marker-bg: $color-main;
$title-marker-width: 3px;
$title-line-height: $line-height-default;
$title-pb: $spacing-small;
$title-mb: $spacing-small;
$title-font-size: $font-size-medium;
$title-color: $color-text-main;
$title-border-color: $color-border-main;
$title-sub-marker-size: 4px;

