/* 盒模型 */

// stylelint-disable
@each $key in map-keys($media-breakpoints) {
  $infix: if($key != pc, -#{$key}, '');

  @include media-down($key, $media-breakpoints) {
    .d-none#{$infix}         { display: none !important; }
    .d-inline#{$infix}       { display: inline !important; }
    .d-inline-block#{$infix} { display: inline-block !important; }
    .d-block#{$infix}        { display: block !important; }
    .d-table#{$infix}        { display: table !important; }
    .d-table-row#{$infix}    { display: table-row !important; }
    .d-table-cell#{$infix}   { display: table-cell !important; }
    .d-flex#{$infix}         { display: flex !important; }
    .d-inline-flex#{$infix}  { display: inline-flex !important; }
  }
}
