/* !------------------------------------------------------------
 * 样式:twui.scss
 * 版本:v1.0.0
 * ------------------------------------------------------------ */
// 框架设置

// app变量与公用scss
// ------------------------------------------------------------
@import "app/variables";

// 变量与公用scss
// ------------------------------------------------------------
@import "teewon/base/variables";
@import "teewon/mixins/utils";
@import "teewon/mixins/responsive";

// 通用样式
// ------------------------------------------------------------
@import "teewon/base/reset";
@import "teewon/transitions";

// 全局组件(teewon)
// ------------------------------------------------------------
@import "teewon/nav";
@import "teewon/controls";
@import "teewon/triangle";
@import "teewon/arrow";
@import "teewon/fonts";
@import "teewon/button";
@import "teewon/widget";
@import "teewon/markdown";

// 布局组件(teewon)
// ------------------------------------------------------------
@import "teewon/grid";
@import "teewon/multicol";
@import "teewon/title";
@import "teewon/header";
@import "teewon/body";
@import "teewon/footer";
@import "teewon/sidebar";
@import "teewon/form";
@import "teewon/poppane";
@import "teewon/collapse";

// 样式单元(teewon)
// ------------------------------------------------------------
@import "teewon/units";

// App图标
// ------------------------------------------------------------
.tw-ico {
  box-sizing: content-box;
  display: inline-block;
  padding: 1px;
  vertical-align: middle;
  background-image: url(../images/icons.png);
  background-origin: content-box;
}
@import "sprite";

// App(当前项目)
// ------------------------------------------------------------
@import "app/app";

// 判断样式是否加载完成
// ------------------------------------------------------------
.u-styledone {
  position: absolute;
  width: 3px;
  opacity: 0;
}
